<a href="https://colab.research.google.com/github/gangulyarin/Job_Salary_Prediction/blob/main/JobSalaryPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install -q kaggle

In [2]:
! mkdir ~/.kaggle

In [3]:
! rm ~/.kaggle/kaggle.json

rm: cannot remove '/root/.kaggle/kaggle.json': No such file or directory

In [4]:
! cp kaggle.json ~/.kaggle/

In [5]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
! kaggle competitions download -c job-salary-prediction

Downloading job-salary-prediction.zip to /content
 94% 298M/318M [00:03<00:00, 135MB/s]
100% 318M/318M [00:03<00:00, 90.8MB/s]

In [7]:
import zipfile
with zipfile.ZipFile('job-salary-prediction.zip') as zf:
  zf.extractall('')

In [8]:
with zipfile.ZipFile('Train_rev1.zip') as zf:
  zf.extractall('')

In [9]:
import pandas as pd

data = pd.read_csv('Train_rev1.csv')
data.head()

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Engineering Systems Analyst / Mathematical Mod...,"Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 30000/annum 25K-30K negotiable,27500,cv-library.co.uk
4,12613647,"Pioneer, Miser Engineering Systems Analyst","Pioneer, Miser Engineering Systems Analyst Do...","Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk

In [10]:
data.columns

Index(['Id', 'Title', 'FullDescription', 'LocationRaw', 'LocationNormalized',
       'ContractType', 'ContractTime', 'Company', 'Category', 'SalaryRaw',
       'SalaryNormalized', 'SourceName'],
      dtype='object')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244768 entries, 0 to 244767
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Id                  244768 non-null  int64
 1   Title               244767 non-null  object
 2   FullDescription     244768 non-null  object
 3   LocationRaw         244768 non-null  object
 4   LocationNormalized  244768 non-null  object
 5   ContractType        65442 non-null   object
 6   ContractTime        180863 non-null  object
 7   Company             212338 non-null  object
 8   Category            244768 non-null  object
 9   SalaryRaw           244768 non-null  object
 10  SalaryNormalized    244768 non-null  int64
 11  SourceName          244767 non-null  object
dtypes: int64(2), object(10)
memory usage: 22.4+ MB

In [12]:
target = "SalaryNormalized"

In [13]:
data.shape

(244768, 12)

In [14]:
import numpy as np
len(data[target].unique())

8454

In [15]:
for col in data.columns:
  if col!=target and len(data[col].unique())<100:
    print(col," ",len(data[col].unique()))

ContractType   3
ContractTime   3
Category   29

In [16]:
data['Category'].value_counts()

IT Jobs                             38483
Engineering Jobs                    25174
Accounting & Finance Jobs           21846
Healthcare & Nursing Jobs           21076
Sales Jobs                          17272
Other/General Jobs                  17055
Teaching Jobs                       12637
Hospitality & Catering Jobs         11351
PR, Advertising & Marketing Jobs     8854
Trade & Construction Jobs            8837
HR & Recruitment Jobs                7713
Admin Jobs                           7614
Retail Jobs                          6584
Customer Services Jobs               6063
Legal Jobs                           3939
Manufacturing Jobs                   3765
Logistics & Warehouse Jobs           3633
Social work Jobs                     3455
Consultancy Jobs                     3263
Travel Jobs                          3126
Scientific & QA Jobs                 2489
Charity & Voluntary Jobs             2332
Energy, Oil & Gas Jobs               2255
Creative & Design Jobs               1605
Maintenance Jobs                     1542
Graduate Jobs                        1331
Property Jobs                        1038
Domestic help & Cleaning Jobs         291
Part time Jobs                        145
Name: Category, dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['Category'] = le.fit_transform(data['Category'])

In [18]:
data.drop(columns=['ContractType','ContractTime'],inplace=True)

In [19]:
data['LocationNormalized'].value_counts()

UK                    41093
London                30522
South East London     11713
The City               6678
Manchester             3516
                      ...
Oldbrook                  1
Berrycroft                1
Pinchbeck                 1
Peasedown St. John        1
Temple                    1
Name: LocationNormalized, Length: 2732, dtype: int64

In [20]:
le2 = LabelEncoder()
data['LocationNormalized'] = le2.fit_transform(data['LocationNormalized'])

In [21]:
data['FullDescription'][3]

'Engineering Systems Analyst / Mathematical Modeller. Our client is a highly successful and respected Consultancy providing specialist software development MISER, PIONEER, Maths, Mathematical, Optimisation, Risk Analysis, Asset Management, Water Industry, Access, Excel, VBA, SQL, Systems . Engineering Systems Analyst / Mathematical Modeller. Salary  ****K****K negotiable Location Dorking, Surrey'

In [22]:
data['Company'].value_counts()

UKStaffsearch          4997
CVbrowser              2977
London4Jobs            2345
Hays                   1784
JAM Recruitment Ltd    1122
                       ...
Your Golf Travel          1
YMCAfit                   1
The Park Club             1
Celtic Manor Resort       1
DMC Healthcare            1
Name: Company, Length: 20812, dtype: int64

In [23]:
le3 = LabelEncoder()
data['Company'] = le3.fit_transform(data['Company'])

In [24]:
data['SourceName'].value_counts()

totaljobs.com             48149
cv-library.co.uk          34279
Jobcentre Plus            17929
jobsite.co.uk             12225
cwjobs.co.uk               7011
                          ...
eastmidlandsjobs.co.uk        2
greatbritishjobs.co.uk        2
broadcastjobs.co.uk           2
jobs.cabincrew.com            1
cvjobstore.com                1
Name: SourceName, Length: 167, dtype: int64

In [25]:
le4 = LabelEncoder()
data['SourceName'] = le4.fit_transform(data['SourceName'])

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244768 entries, 0 to 244767
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Id                  244768 non-null  int64
 1   Title               244767 non-null  object
 2   FullDescription     244768 non-null  object
 3   LocationRaw         244768 non-null  object
 4   LocationNormalized  244768 non-null  int64
 5   Company             244768 non-null  int64
 6   Category            244768 non-null  int64
 7   SalaryRaw           244768 non-null  object
 8   SalaryNormalized    244768 non-null  int64
 9   SourceName          244768 non-null  int64
dtypes: int64(6), object(4)
memory usage: 18.7+ MB

In [27]:
data.head()

,Id,Title,FullDescription,LocationRaw,LocationNormalized,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",750,7757,8,20000 - 30000/annum 20-30K,25000,42
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",986,7757,8,25000 - 35000/annum 25-35K,30000,42
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",1068,7757,8,20000 - 40000/annum 20-40K,30000,42
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Engineering Systems Analyst / Mathematical Mod...,"Surrey, South East, South East",2309,7757,8,25000 - 30000/annum 25K-30K negotiable,27500,42
4,12613647,"Pioneer, Miser Engineering Systems Analyst","Pioneer, Miser Engineering Systems Analyst Do...","Surrey, South East, South East",2309,7757,8,20000 - 30000/annum 20-30K,25000,42

In [28]:
train_data = data.drop(columns = ['Id','Title','LocationRaw','SalaryRaw'])
train_data.head()

,FullDescription,LocationNormalized,Company,Category,SalaryNormalized,SourceName
0,Engineering Systems Analyst Dorking Surrey Sal...,750,7757,8,25000,42
1,Stress Engineer Glasgow Salary **** to **** We...,986,7757,8,30000,42
2,Mathematical Modeller / Simulation Analyst / O...,1068,7757,8,30000,42
3,Engineering Systems Analyst / Mathematical Mod...,2309,7757,8,27500,42
4,"Pioneer, Miser Engineering Systems Analyst Do...",2309,7757,8,25000,42

In [29]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244768 entries, 0 to 244767
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   FullDescription     244768 non-null  object
 1   LocationNormalized  244768 non-null  int64
 2   Company             244768 non-null  int64
 3   Category            244768 non-null  int64
 4   SalaryNormalized    244768 non-null  int64
 5   SourceName          244768 non-null  int64
dtypes: int64(5), object(1)
memory usage: 11.2+ MB

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(strip_accents='ascii',lowercase=True,analyzer='word',stop_words='english',ngram_range=(1,3),max_features=100)

encoded_texts = cv.fit_transform(train_data['FullDescription'])
encoded_texts = encoded_texts.toarray()
encoded_texts.shape

(244768, 100)

In [31]:
encoded_texts[2]

array([3, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 4, 2, 0, 0, 1, 0, 0, 0, 0,
       0, 2, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 3, 0, 0, 0,
       3, 1, 0, 0, 0, 1, 0, 0, 2, 3, 0, 1])

In [32]:
type(encoded_texts)

numpy.ndarray

In [33]:
sn = np.array(train_data['SourceName'])

In [34]:
sn.reshape(-1,1).shape

(244768, 1)

In [35]:
train = np.append(encoded_texts,np.array(train_data['SourceName']).reshape(-1,1),axis=1)
train.shape

(244768, 101)

In [36]:
train[3]

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  2,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,
        1,  0,  0,  1,  0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0, 42])

In [37]:
train = np.append(train,np.array(train_data['Category']).reshape(-1,1),axis=1)
train = np.append(train,np.array(train_data['Company']).reshape(-1,1),axis=1)
train = np.append(train,np.array(train_data['LocationNormalized']).reshape(-1,1),axis=1)
train.shape

(244768, 104)

In [47]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
train_data[['SalaryNormalized']]= scaler.fit_transform(train_data[['SalaryNormalized']])

In [48]:
train_data['SalaryNormalized']

0         0.102564
1         0.128205
2         0.128205
3         0.115385
4         0.102564
            ...
244763    0.091282
244764    0.091282
244765    0.091282
244766    0.091282
244767    0.192308
Name: SalaryNormalized, Length: 244768, dtype: float64

In [49]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(train,train_data['SalaryNormalized'])

print(train_X.shape)
print(test_X.shape)
print(train_y.shape)
print(test_y.shape)

rfr = RandomForestRegressor()

(183576, 104)
(61192, 104)
(183576,)
(61192,)

In [50]:
rfr.fit(train_X,train_y)

RandomForestRegressor()

In [51]:
preds = rfr.predict(test_X)

In [52]:
from sklearn.metrics import mean_squared_error

mean_squared_error(preds,test_y)

0.003719416076562703

In [53]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(train_X[:,:100],train_y)
preds_y = lr.predict(test_X[:,:100])
mean_squared_error(preds_y,test_y)

0.006069834305201696

In [43]:
"""
# calculate the economy SVD for the data matrix A
U,S,Vt = np.linalg.svd(train_X, full_matrices=False)

# solve Ax = b for the best possible approximate solution in terms of least squares
x_hat = Vt.T @ np.linalg.inv(np.diag(S)) @ U.T @ train_y

# perform train and test inference
y_pred = train_X @ x_hat
test_predictions = test_X @ x_hat

# compute train and test MSE
train_mse = np.mean((y_pred - train_y)**2)
test_mse = np.mean((test_predictions - test_y)**2)

print("Train Mean Squared Error:", train_mse)
print("Test Mean Squared Error:", test_mse)
"""

Train Mean Squared Error: 272477153.22356445
Test Mean Squared Error: 272297535.2375677

In [44]:
from string import punctuation
import re

def clean_text(text):
  text = text.lower()
  text2 = re.sub('[0-9]+\S+|\s\d+\s|\w+[0-9]+|\w+[\*]+.*|\s[\*]+\s|www\.[^\s]+','',text)
  for p in punctuation:
        text2 = text2.replace(p,'')
  return text2


train_data['FullDescription'] = train_data['FullDescription'].apply(clean_text)

KeyboardInterrupt: ignored